<!-- <p id="notice"><%#= notice %></p> -->
<%= form_for("", url: shops_path, method:'get', remote: true, html: { id: 'shops_index', role: 'form'} ) do |f| %> 
  <h1 align="center">Edificios con tiendas disponibles</h1>
  <div class="row" style="display:block">
    <div class="col-md-12">
      <%= select_tag(:predio_id, options_for_select( @my_shops.collect {|p| [p.predio.name, p.predio_id] }), { prompt: 'Todas las Tiendas', class: 'selectpicker'})%> 
    </div>
  </div> 
  <!-- <ul class="nav nav-pills" role="tablist">
    <li><%#= link_to 'Todas las tiendas', shops_path, class: 'nav-item' %></li>
    <%# @my_shops.each do |s| %>
      <li><%#= link_to "#{s.predio.name}", controller: "shops", predio_id: "#{s.predio_id}" %></li>
    <%# end %>
  </ul> -->
  <br />
  <% if user_signed_in? %>
  <%= link_to "Mis Tiendas", user_shops_path(current_user), role: 'button', class: 'btn btn-success btn-xs' %>
  <% end %>
  <br />
    <div class="row">
      <br />
        <div id="stores">
          <%= render 'stores' %>
        </div>
      <br /><br /><br />
    </div>
<% end %>
<% if user_signed_in? %>  
<%= link_to 'Crear Nueva Tienda', new_shop_path, role: 'button', class: 'navbar-fixed-bottom button button3 btn-block' %>
<% end %>
<style type="text/css">
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: 100%;
}
</style>

<script type="text/javascript">
  $('.selectpicker').selectpicker({
      style: 'btn-default',
      size: 5,
  });
</script>