<h2>Iniciar Sesión</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label "Contraseña" %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label 'Recordar' %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Entrar" %>
  </div>
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to "Crear cuenta", new_registration_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "Olvidó su contraseña?", new_password_path(resource_name) %><br />
<% end -%>

  

<!-- <div class="container" style="margin-top:30px">
  <div class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">      
        <h3 class="panel-title"><strong>Iniciar Sesión </strong></h3>
        <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Olvidó su contraseña?</a></div>
      </div>
      <div class="panel-body">
        <form role="form">
          <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Ingrese email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Contraseña</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Ingrese contraseña">
          </div>
          <div class="checkbox">
            <label>
              <input name="remember" type="checkbox" value="Remember Me">Recordar
            </label>
          </div> 
          <div class="row">
            <div class="col-md-12">
              <button type="submit" class="btn btn-sm btn-primary">Aceptar</button>
            </div>
          </div>
          <div style="margin-top:10px" class="form-group">
            <div class="col-md-12 control">
                <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                    Don't have an account! 
                <a href="#" onClick="$('#loginbox').hide(); $('#signupbox').show()">
                    Sign Up Here
                </a>
                </div>
            </div>
          </div>  
        </form>
      </div>
    </div>
  </div>

</div> -->